.statistics {
  max-width: 300px;
  margin: auto;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.title {
  color: gray;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px;
}

.statList {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
